<section class="index-page">
  {{#if isLogged}}
    <div>
      <h3>User Panel</h3>
      <img class="avatar" src={{picURL}} />
      <h4>Hello {{userName}}</h4>
    </div>
  {{/if}}

  <a class="loginBtn logOutBtn" href="/user/user/auth/loggedOut">
    Log Out
  </a>
</section>